In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Load the data

In [2]:
df = pd.read_excel('D:/UCO_CourseWork/Programing for analytics/ProjectProposal/800.xlsx')
# df = df.iloc[:40000]
df.head()

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,REFILE,ORIG_FILE_DATE,PREVIOUS_SWA_CASE_NUMBER_STATE,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,...,FOREIGN_WORKER_ALT_OCC_EXP,FOREIGN_WORKER_EXP_WITH_EMPL,FOREIGN_WORKER_EMPL_PAY_FOR_ED,FOREIGN_WORKER_CURR_EMPLOYED,EMPLOYER_COMPLETED_APPLICATION,PREPARER_NAME,PREPARER_TITLE,PREPARER_EMAIL,EMP_INFO_DECL_NAME,EMP_DECL_TITLE
0,A-22262-24149,Withdrawn,2022-10-02,2022-10-02,N,NaN,NaN,N,Westgate Shellworld Inc,7012 Muncipal Drive,...,NaN,NaN,N,N,N,FRANCES DELAFUENTE,ATTORNEY,MICHELLE@DLGPA.COM,SAMIA AHMED,OWNER
1,A-21187-12839,Certified-Expired,2022-02-03,2022-10-03,N,NaN,NaN,N,"NIKE, INC.",ONE BOWERMAN DRIVE,...,Y,N,N,Y,N,Chad T Li,Associate Attorney,chad.li@BAL.com,Diana Loveless,Immigration Program Consultant
2,A-21327-77110,Denied,2021-11-30,2022-10-03,N,NaN,NaN,N,RIVERY TECHNOLOGIES INC,500 7TH AVENUE,...,Y,N,N,Y,N,Rakhel S Milstein,Attorney,rsm@milsteinlg.com,Aviv Noy,CoFounder
3,A-21342-83195,Certified-Expired,2022-02-03,2022-10-03,N,NaN,NaN,N,ESRI INC.,380 NEW YORK ST.,...,Y,N,N,Y,N,Jessica L Cross,Attorney,jessica.cross@ogletree.com,Vinesh Patel,Global Mobility Coordinator
4,A-21349-86725,Certified-Expired,2022-02-03,2022-10-03,N,NaN,NaN,N,INGURAN LLC DBA STGENETICS,22575 STATE HWY 6 SOUTH,...,NaN,N,N,Y,N,Beatriz Trillos Ballerini,Attorney,perm@tbvisas.com,Steven Sfamenos,Human Resources Director

## Initial Data Inspection

In [3]:
# Display basic information about the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Columns: 154 entries, CASE_NUMBER to EMP_DECL_TITLE
dtypes: datetime64[ns](29), float64(14), int64(3), object(108)
memory usage: 1022.8+ KB
None

In [5]:
# Show the first few rows of the dataset
df.head()

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,REFILE,ORIG_FILE_DATE,PREVIOUS_SWA_CASE_NUMBER_STATE,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,...,FOREIGN_WORKER_ALT_OCC_EXP,FOREIGN_WORKER_EXP_WITH_EMPL,FOREIGN_WORKER_EMPL_PAY_FOR_ED,FOREIGN_WORKER_CURR_EMPLOYED,EMPLOYER_COMPLETED_APPLICATION,PREPARER_NAME,PREPARER_TITLE,PREPARER_EMAIL,EMP_INFO_DECL_NAME,EMP_DECL_TITLE
0,A-22262-24149,Withdrawn,2022-10-02,2022-10-02,N,NaN,NaN,N,Westgate Shellworld Inc,7012 Muncipal Drive,...,NaN,NaN,N,N,N,FRANCES DELAFUENTE,ATTORNEY,MICHELLE@DLGPA.COM,SAMIA AHMED,OWNER
1,A-21187-12839,Certified-Expired,2022-02-03,2022-10-03,N,NaN,NaN,N,"NIKE, INC.",ONE BOWERMAN DRIVE,...,Y,N,N,Y,N,Chad T Li,Associate Attorney,chad.li@BAL.com,Diana Loveless,Immigration Program Consultant
2,A-21327-77110,Denied,2021-11-30,2022-10-03,N,NaN,NaN,N,RIVERY TECHNOLOGIES INC,500 7TH AVENUE,...,Y,N,N,Y,N,Rakhel S Milstein,Attorney,rsm@milsteinlg.com,Aviv Noy,CoFounder
3,A-21342-83195,Certified-Expired,2022-02-03,2022-10-03,N,NaN,NaN,N,ESRI INC.,380 NEW YORK ST.,...,Y,N,N,Y,N,Jessica L Cross,Attorney,jessica.cross@ogletree.com,Vinesh Patel,Global Mobility Coordinator
4,A-21349-86725,Certified-Expired,2022-02-03,2022-10-03,N,NaN,NaN,N,INGURAN LLC DBA STGENETICS,22575 STATE HWY 6 SOUTH,...,NaN,N,N,Y,N,Beatriz Trillos Ballerini,Attorney,perm@tbvisas.com,Steven Sfamenos,Human Resources Director

In [7]:
# Show summary statistics for numerical columns
df.describe()

,RECEIVED_DATE,DECISION_DATE,ORIG_FILE_DATE,PREVIOUS_SWA_CASE_NUMBER_STATE,EMPLOYER_PHONE_EXT,EMPLOYER_NUM_EMPLOYEES,EMPLOYER_YEAR_COMMENCED_BUSINESS,NAICS_CODE,AGENT_ATTORNEY_PHONE_EXT,PW_WAGE,...,EMPLOYEE_REF_PROG_FROM_DATE,EMPLOYEE_REFERRAL_PROG_TO_DATE,CAMPUS_PLACEMENT_FROM_DATE,CAMPUS_PLACEMENT_TO_DATE,LOCAL_ETHNIC_PAPER_FROM_DATE,LOCAL_ETHNIC_PAPER_TO_DATE,RADIO_TV_AD_FROM_DATE,RADIO_TV_AD_TO_DATE,PAYMENT_DETAILS,FOREIGN_WORKER_YRS_ED_COMP
count,850,850,0.0,0.0,67.000000,8.500000e+02,850.000000,850.000000,20.00000,850.000000,...,226,226,64,64,566,566,126,126,0.0,781.000000
mean,2022-01-30 15:04:39.529411840,2022-10-03 03:40:14.117646848,NaN,NaN,6241.402985,9.151659e+04,1985.117647,386079.507059,3088.50000,99539.256247,...,2021-09-21 13:41:56.814159360,2021-10-14 19:57:52.566371584,2021-10-13 15:00:00,2021-10-31 06:45:00,2021-10-09 03:43:53.215547648,2021-10-11 05:00:12.720848128,2021-10-31 09:20:00,2021-10-31 16:45:42.857142784,NaN,2009.385403
min,2021-02-04 00:00:00,2022-10-02 00:00:00,NaN,NaN,1.000000,1.000000e+00,1789.000000,3133.000000,1.00000,9.990000,...,2020-10-26 00:00:00,2020-11-02 00:00:00,2021-07-12 00:00:00,2021-08-02 00:00:00,2020-09-25 00:00:00,2020-09-25 00:00:00,2021-06-07 00:00:00,2021-06-07 00:00:00,NaN,0.000000
25%,2022-02-03 00:00:00,2022-10-03 00:00:00,NaN,NaN,205.000000,1.960000e+02,1975.000000,238170.000000,101.00000,76866.500000,...,2021-08-18 00:00:00,2021-09-03 00:00:00,2021-09-07 18:00:00,2021-09-23 18:00:00,2021-08-27 00:00:00,2021-09-03 12:00:00,2021-10-09 12:00:00,2021-10-10 06:00:00,NaN,2008.000000
50%,2022-02-03 00:00:00,2022-10-03 00:00:00,NaN,NaN,408.000000,3.751000e+03,1995.000000,511210.000000,162.50000,98914.500000,...,2021-09-20 12:00:00,2021-10-19 00:00:00,2021-09-30 00:00:00,2021-10-18 00:00:00,2021-10-19 00:00:00,2021-10-19 00:00:00,2021-11-04 00:00:00,2021-11-04 00:00:00,NaN,2014.000000
75%,2022-02-04 00:00:00,2022-10-03 00:00:00,NaN,NaN,2009.000000,5.031800e+04,2007.000000,541511.000000,201.00000,121763.000000,...,2021-10-28 00:00:00,2021-11-17 00:00:00,2021-11-08 06:00:00,2021-11-19 00:00:00,2021-11-12 00:00:00,2021-11-15 12:00:00,2021-11-20 00:00:00,2021-11-20 00:00:00,NaN,2017.000000
max,2022-10-02 00:00:00,2022-10-04 00:00:00,NaN,NaN,91128.000000,1.400000e+06,2021.000000,813920.000000,59052.00000,250286.000000,...,2022-06-30 00:00:00,2022-07-30 00:00:00,2022-07-27 00:00:00,2022-08-10 00:00:00,2022-08-07 00:00:00,2022-08-07 00:00:00,2022-06-23 00:00:00,2022-06-23 00:00:00,NaN,2021.000000
std,NaN,NaN,NaN,NaN,18602.816991,2.366175e+05,37.873732,217949.565205,13172.59177,39326.455054,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.272304

In [8]:
# Show percentage of missing values in each column
print(df.isnull().mean() * 100)

CASE_NUMBER           0.000000
CASE_STATUS           0.000000
RECEIVED_DATE         0.000000
DECISION_DATE         0.000000
REFILE                0.000000
                        ...
PREPARER_NAME         0.000000
PREPARER_TITLE        8.352941
PREPARER_EMAIL        8.470588
EMP_INFO_DECL_NAME    0.000000
EMP_DECL_TITLE        0.000000
Length: 154, dtype: float64

 ## Handling Missing Values

In [9]:
# Example of dropping columns with more than 50% missing values
threshold = 50 # percentage
high_missing = df.columns[df.isnull().mean() * 100 > threshold]
df.drop(columns=high_missing, inplace=True)

# Filling missing values for numeric columns with the median
for col in df.select_dtypes(include='number').columns:
    df[col].fillna(df[col].median(), inplace=True)

# Filling missing values for categorical columns with the mode
for col in df.select_dtypes(include='object').columns:
    df[col].fillna(df[col].mode()[0], inplace=True)

## Correcting Data Types

In [10]:
# Convert date columns to datetime
date_columns = ['RECEIVED_DATE', 'DECISION_DATE']  # Add or adjust according to your dataset
for date in date_columns:
    df[date] = pd.to_datetime(df[date])

# Convert categorical columns to 'category' data type if they have a limited number of unique values
for col in ['CASE_STATUS', 'REFILE', 'SCHD_A_SHEEPHERDER']:
    df[col] = df[col].astype('category')

## Removing Duplicates

In [11]:
# Drop duplicate rows
df.drop_duplicates(inplace=True)

# Check for duplicates based on a subset of columns (for example, 'CASE_NUMBER')
df.drop_duplicates(subset=['CASE_NUMBER'], inplace=True)

## Final Data Check

In [13]:
df.shape

(850, 109)

In [17]:
# Review the cleaned dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Columns: 109 entries, CASE_NUMBER to EMP_DECL_TITLE
dtypes: category(3), datetime64[ns](12), float64(5), int64(3), object(86)
memory usage: 706.9+ KB
None

In [16]:
df.head()

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,REFILE,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,EMPLOYER_CITY,EMPLOYER_STATE_PROVINCE,...,FOREIGN_WORKER_ALT_OCC_EXP,FOREIGN_WORKER_EXP_WITH_EMPL,FOREIGN_WORKER_EMPL_PAY_FOR_ED,FOREIGN_WORKER_CURR_EMPLOYED,EMPLOYER_COMPLETED_APPLICATION,PREPARER_NAME,PREPARER_TITLE,PREPARER_EMAIL,EMP_INFO_DECL_NAME,EMP_DECL_TITLE
0,A-22262-24149,Withdrawn,2022-10-02,2022-10-02,N,N,Westgate Shellworld Inc,7012 Muncipal Drive,Orlando,FLORIDA,...,Y,N,N,N,N,FRANCES DELAFUENTE,ATTORNEY,MICHELLE@DLGPA.COM,SAMIA AHMED,OWNER
1,A-21187-12839,Certified-Expired,2022-02-03,2022-10-03,N,N,"NIKE, INC.",ONE BOWERMAN DRIVE,BEAVERTON,OREGON,...,Y,N,N,Y,N,Chad T Li,Associate Attorney,chad.li@BAL.com,Diana Loveless,Immigration Program Consultant
2,A-21327-77110,Denied,2021-11-30,2022-10-03,N,N,RIVERY TECHNOLOGIES INC,500 7TH AVENUE,NEW YORK,NEW YORK,...,Y,N,N,Y,N,Rakhel S Milstein,Attorney,rsm@milsteinlg.com,Aviv Noy,CoFounder
3,A-21342-83195,Certified-Expired,2022-02-03,2022-10-03,N,N,ESRI INC.,380 NEW YORK ST.,REDLANDS,CALIFORNIA,...,Y,N,N,Y,N,Jessica L Cross,Attorney,jessica.cross@ogletree.com,Vinesh Patel,Global Mobility Coordinator
4,A-21349-86725,Certified-Expired,2022-02-03,2022-10-03,N,N,INGURAN LLC DBA STGENETICS,22575 STATE HWY 6 SOUTH,NAVASOTA,TEXAS,...,Y,N,N,Y,N,Beatriz Trillos Ballerini,Attorney,perm@tbvisas.com,Steven Sfamenos,Human Resources Director

## Show the columns

In [18]:
df.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE',
       'REFILE', 'SCHD_A_SHEEPHERDER', 'EMPLOYER_NAME', 'EMPLOYER_ADDRESS_1',
       'EMPLOYER_CITY', 'EMPLOYER_STATE_PROVINCE',
       ...
       'FOREIGN_WORKER_ALT_OCC_EXP', 'FOREIGN_WORKER_EXP_WITH_EMPL',
       'FOREIGN_WORKER_EMPL_PAY_FOR_ED', 'FOREIGN_WORKER_CURR_EMPLOYED',
       'EMPLOYER_COMPLETED_APPLICATION', 'PREPARER_NAME', 'PREPARER_TITLE',
       'PREPARER_EMAIL', 'EMP_INFO_DECL_NAME', 'EMP_DECL_TITLE'],
      dtype='object', length=109)

## Question 1: What is the overall distribution of case statuses?

In [19]:
# Calculate the distribution of case statuses
case_status_distribution = df['CASE_STATUS'].value_counts(normalize=True) * 100
print("Distribution of Case Statuses:")
print(case_status_distribution)

Distribution of Case Statuses:
CASE_STATUS
Certified-Expired    97.294118
Withdrawn             2.000000
Denied                0.705882
Name: proportion, dtype: float64

## Question 2: How many cases are filed each month?

In [20]:
# Extract the month from the RECEIVED_DATE and count occurrences
df['RECEIVED_MONTH'] = df['RECEIVED_DATE'].dt.to_period('M')
monthly_cases = df['RECEIVED_MONTH'].value_counts().sort_index()
print("Number of Cases Filed Each Month:")
print(monthly_cases)

Number of Cases Filed Each Month:
RECEIVED_MONTH
2021-02      6
2021-03      1
2021-11     51
2022-02    775
2022-03      2
2022-04      1
2022-05      1
2022-07      1
2022-09     11
2022-10      1
Freq: M, Name: count, dtype: int64

## Question 3: What are the top five employers employing foreign workers?

In [26]:
# Count the top five employers in the dataset
top_employers = df['EMPLOYER_NAME'].value_counts().head(5)
print("Top Five Employers Employing Foreign Workers:")
print(top_employers)

Top Five Employers Employing Foreign Workers:
EMPLOYER_NAME
INTEL CORPORATION                                47
COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION    42
AMAZON.COM SERVICES LLC                          32
MICROSOFT CORPORATION                            28
CAPGEMINI AMERICA, INC.                          14
Name: count, dtype: int64

## Question 4: What is the average processing time for all cases?

In [27]:
# Calculate processing time by subtracting the received date from the decision date
df['PROCESSING_TIME'] = (df['DECISION_DATE'] - df['RECEIVED_DATE']).dt.days
average_processing_time = df['PROCESSING_TIME'].mean()
print("Average Processing Time for All Cases (in days):")
print(average_processing_time)

Average Processing Time for All Cases (in days):
245.52470588235295

## Question 5: Which employer has filed the most cases?

In [28]:
# Count the number of cases filed by each employer
top_employer = df['EMPLOYER_NAME'].value_counts().idxmax()
cases_count = df['EMPLOYER_NAME'].value_counts().max()
print("Employer with the Most Cases:")
print(f"{top_employer} with {cases_count} cases")

Employer with the Most Cases:
INTEL CORPORATION with 47 cases

## Question 6: What are the trends in case outcomes over recent years?

In [29]:
# Extract the year from the DECISION_DATE and calculate the outcome trends per year
df['DECISION_YEAR'] = df['DECISION_DATE'].dt.year
yearly_outcomes = df.pivot_table(index='DECISION_YEAR', columns='CASE_STATUS', aggfunc='size', fill_value=0)
print("Trends in Case Outcomes Over Recent Years:")
print(yearly_outcomes)

Trends in Case Outcomes Over Recent Years:
CASE_STATUS    Certified-Expired  Denied  Withdrawn
DECISION_YEAR
2022                         827       6         17

## Question 7: Which state has the highest number of cases filed?

In [30]:
# Assuming 'EMPLOYER_ADDRESS_1' contains state information in a consistent place, e.g., "City, State, Zip"
df['EMPLOYER_STATE'] = df['EMPLOYER_ADDRESS_1'].str.extract(r',\s*([^,]+)\s+\d+$')  # Regex to extract state
top_state = df['EMPLOYER_STATE'].value_counts().idxmax()
state_count = df['EMPLOYER_STATE'].value_counts().max()
print("State with the Highest Number of Cases Filed:")
print(f"{top_state} with {state_count} cases")

State with the Highest Number of Cases Filed:
SUITE with 19 cases

## Question 8: What is the approval rate for each employer?

In [32]:
# Calculate the number of cases that are 'Certified' for each employer
certified_counts = df[df['CASE_STATUS'] == 'Certified'].groupby('EMPLOYER_NAME').size()

# Calculate the total number of cases for each employer
total_counts = df.groupby('EMPLOYER_NAME').size()

# Calculate the approval rate
approval_rates = (certified_counts / total_counts * 100).fillna(0)  # Fill NaN with 0 to handle divisions by zero

print("Approval Rates for Each Employer:")
print(approval_rates.sort_values(ascending=False))

Approval Rates for Each Employer:
EMPLOYER_NAME
10X GENOMICS, INC.                          0.0
PANASONIC AVIONICS CORPORATION              0.0
PMA CONSULTANTS LLC                         0.0
PLATIVE INC.                                0.0
PIRELLI TIRE LLC                            0.0
                                           ...
DPR CONSTRUCTION, A GENERAL PARTNERSHIP     0.0
DONGWON AUTOPART TECHNOLOGY GEORGIA, LLC    0.0
DOMINOS PIZZA INC.                          0.0
DOCUSIGN, INC.                              0.0
ZoomInfo Technologies, LLC                  0.0
Length: 474, dtype: float64

## Question 9: How do case results vary between industries?

In [36]:
# Calculate case results by employer which serves as a proxy for industry
employer_outcomes = df.pivot_table(index='EMPLOYER_NAME', columns='CASE_STATUS', aggfunc='size', fill_value=0)
print("Case Results by Employer (as a proxy for Industry):")
employer_outcomes.head()  # Displaying the head to avoid too large output

Case Results by Employer (as a proxy for Industry):

CASE_STATUS,Certified-Expired,Denied,Withdrawn
EMPLOYER_NAME,,,
"10X GENOMICS, INC.",1,0,0
196 Enterprises LLC dba K Liquor and Smokes,0,0,1
3I INFOTECH INC.,3,0,0
ABBVIE US LLC,1,0,0
ACCELALPHA INC,2,0,0

## Question 11: What are the common job titles for which foreign workers are hired?

In [40]:
# Calculate the frequency of job titles
common_job_titles = df['JOB_TITLE'].value_counts().head(10)
print("Common Job Titles for Which Foreign Workers are Hired:")
print(common_job_titles)

Common Job Titles for Which Foreign Workers are Hired:
JOB_TITLE
Software Engineer                    58
Systems Analyst/Developer B          31
Software Developer                   25
Software Development Engineer II     20
Component Design Engineer            15
TRUCK DRIVER                         14
SOFTWARE DEVELOPER                   13
Senior Software Engineer             11
Systems Analyst/Developer C          11
Manager III, Software Development    10
Name: count, dtype: int64

## Question 12: How many cases involve refile, and what are their outcomes?

In [41]:
# Filter cases involving refile and count their outcomes
refile_cases_outcomes = df[df['REFILE'] == 'Y']['CASE_STATUS'].value_counts()
print("Outcomes of Cases Involving Refile:")
print(refile_cases_outcomes)

Outcomes of Cases Involving Refile:
CASE_STATUS
Certified-Expired    0
Denied               0
Withdrawn            0
Name: count, dtype: int64

## Question 13: What percentage of cases are for "Sheepherder" occupations?

In [42]:
# Calculate the percentage of cases for sheepherder occupations
sheepherder_cases_percentage = (df['SCHD_A_SHEEPHERDER'] == 'Y').mean() * 100
print("Percentage of Cases for Sheepherder Occupations:")
print(f"{sheepherder_cases_percentage:.2f}%")

Percentage of Cases for Sheepherder Occupations:
0.00%

## Question 14: Are there seasonal trends in case filings or outcomes?

In [43]:
# Extract month from RECEIVED_DATE and analyze filings by month
df['MONTH_RECEIVED'] = df['RECEIVED_DATE'].dt.month
seasonal_trends = df['MONTH_RECEIVED'].value_counts().sort_index()
print("Seasonal Trends in Case Filings:")
print(seasonal_trends)

Seasonal Trends in Case Filings:
MONTH_RECEIVED
2     781
3       3
4       1
5       1
7       1
9      11
10      1
11     51
Name: count, dtype: int64

## Question 15: What is the geographic distribution of foreign workers' intended workplaces?

In [46]:
# Count cases by worksite state
geographic_distribution = df['WORKSITE_STATE'].value_counts()
print("Geographic Distribution of Foreign Workers' Intended Workplaces:")
print(geographic_distribution)

Geographic Distribution of Foreign Workers' Intended Workplaces:
WORKSITE_STATE
CALIFORNIA              176
TEXAS                   108
WASHINGTON               76
NEW YORK                 64
NEW JERSEY               47
FLORIDA                  42
ILLINOIS                 38
MASSACHUSETTS            35
VIRGINIA                 30
MICHIGAN                 24
GEORGIA                  23
TENNESSEE                20
OREGON                   17
NORTH CAROLINA           16
ARIZONA                  14
ARKANSAS                 12
INDIANA                  11
WISCONSIN                10
MISSOURI                  9
PENNSYLVANIA              9
MARYLAND                  9
MINNESOTA                 8
OHIO                      7
CONNECTICUT               6
DISTRICT OF COLUMBIA      4
LOUISIANA                 4
IOWA                      4
NEVADA                    4
COLORADO                  3
UTAH                      3
ALABAMA                   2
MAINE                     2
KENTUCKY                  2
NEW MEXICO                2
SOUTH CAROLINA            2
KANSAS                    1
DELAWARE                  1
MONTANA                   1
NEBRASKA                  1
MISSISSIPPI               1
SOUTH DAKOTA              1
WEST VIRGINIA             1
Name: count, dtype: int64

## Question 16: How many employers are involved in agricultural vs. non-agricultural sectors?

In [47]:
# Dummy example, adjust based on actual data or indicator available
df['SECTOR'] = df['JOB_TITLE'].apply(lambda x: 'Agricultural' if 'Farm' in x else 'Non-Agricultural')
sector_counts = df['SECTOR'].value_counts()
print("Number of Employers in Agricultural vs. Non-Agricultural Sectors:")
print(sector_counts)

Number of Employers in Agricultural vs. Non-Agricultural Sectors:
SECTOR
Non-Agricultural    850
Name: count, dtype: int64

## Question 17: Which preparer firms handle the most cases and their success rates?

In [51]:
# Ensure 'PREPARER_NAME' does not have any leading/trailing spaces and handle empty entries
df['PREPARER_NAME'] = df['PREPARER_NAME'].str.strip()
df['PREPARER_NAME'].replace('', np.nan, inplace=True)  # Replace empty strings with NaN
df.dropna(subset=['PREPARER_NAME'], inplace=True)  # Drop rows where 'PREPARER_NAME' is NaN

# Calculate the number of cases handled by each preparer firm
preparer_case_counts = df['PREPARER_NAME'].value_counts().head(5)
print("Top Preparer Firms Case Counts:")
print(preparer_case_counts)

# Calculate the success rates
certified_cases = df[df['CASE_STATUS'] == 'Certified'].groupby('PREPARER_NAME').size()
total_cases = df.groupby('PREPARER_NAME').size()

# Safe division and filling NaN with 0 where there are no certified cases
success_rate = (certified_cases.reindex(total_cases.index, fill_value=0) / total_cases * 100).fillna(0)

# Extract the success rates for the top firms, ensuring we only look at those that exist in the success rate index
top_preparer_success_rates = success_rate[success_rate.index.isin(preparer_case_counts.index)]
print("Top Preparer Firms and Their Success Rates:")
print(top_preparer_success_rates.sort_values(ascending=False))

Top Preparer Firms Case Counts:
PREPARER_NAME
Tara  Williams         47
Jenny  Nieves          16
ERIK  BLADINIERES      14
Mariana  Kulikowska    12
THOMAS V ALLEN         11
Name: count, dtype: int64
Top Preparer Firms and Their Success Rates:
PREPARER_NAME
ERIK  BLADINIERES      0.0
Jenny  Nieves          0.0
Mariana  Kulikowska    0.0
THOMAS V ALLEN         0.0
Tara  Williams         0.0
dtype: float64

## Question 18: How often is foreign worker experience with the employing company mentioned?

In [55]:
# Calculate frequency of mentions of foreign worker experience with employer
experience_with_employer = df['FOREIGN_WORKER_EXP_WITH_EMPL'].value_counts()
print("Frequency of Foreign Worker Experience with Employing Company Mentioned:")
print(experience_with_employer)

Frequency of Foreign Worker Experience with Employing Company Mentioned:
FOREIGN_WORKER_EXP_WITH_EMPL
N    777
Y      2
Name: count, dtype: int64

## Question 19: What are the trends in the educational requirements for the positions?

In [61]:
# Analyze the trends in educational requirements using the 'MINIMUM_EDUCATION' column
education_trends = df['MINIMUM_EDUCATION'].value_counts()
print("Trends in Educational Requirements for Positions:")
print(education_trends)

Trends in Educational Requirements for Positions:
MINIMUM_EDUCATION
Master's       424
Bachelor's     305
Doctorate       23
High School     13
Other           11
Associate's      3
Name: count, dtype: int64

## Question 20: How do the salaries offered compare to national averages for similar roles?

In [66]:
# Calculate the average offered salary using the 'WAGE_OFFER_FROM' column
average_salary = df['WAGE_OFFER_FROM'].mean()

# Assuming a national average salary for similar roles (this should be fetched from an external source or based on industry data)
national_average = 50000  # Adjust this value based on relevant data

print("Comparison of Offered Salaries to National Averages:")
print(f"Average Offered Salary: ${average_salary:.2f}")
print(f"National Average for Similar Roles: ${national_average}")

Comparison of Offered Salaries to National Averages:
Average Offered Salary: $114551.54
National Average for Similar Roles: $50000